/* start banner */
.about-banner {
  margin-top: 6rem;
  background-color: rgba(109, 117, 143, 1);
}
.about-banner h1 {
  font-weight: 800;
  font-size: 2.5rem;
}
@media (max-width: 768px) {
  .about-banner h1 {
    font-size: 1.9rem;
  }
}
@media (max-width: 600px) {
  .about-banner h1 {
    font-size: 1.1rem;
  }
}
/* start info */
.info-img {
  height: 500px;
  background-color: red;
}
.info-img img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.info-content .title {
  font-size: 1.8rem;
  font-weight: 800;
  color: rgba(109, 117, 143, 1);
}

.info-content .desc {
  font-size: 18px;
  font-weight: 500;
  color: rgba(109, 117, 143, 1);
  line-height: 1.5rem;
}
@media (max-width: 400px) {
  .info-content .desc {
    font-size: 1rem;
  }
}
/* start education */

.education .line img {
  object-fit: cover;
}
.education .content span {
  font-size: 14px;
  font-weight: 700;
}
.education .content .title {
  font-size: 1.8rem;
  font-weight: 800;
  color: rgba(109, 117, 143, 1);
}
.education .content .desc {
  font-size: 18px;
  font-weight: 500;
  color: rgba(109, 117, 143, 1);
  line-height: 1.5rem;
}
/* timeline styles  */

.timeline {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 30px 0;
}

.timeline::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  background: #444a61;
  transform: translateY(-50%);
  z-index: 1;
  width: 100%;
}

.timeline-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
  z-index: 2;
  flex: 1;
  bottom: 1rem;
  gap: 10px;
}
.timeline-item.active {
  .year {
    font-size: 20px;
    font-weight: 700;
  }
  .marker {
    width: 13px;
    height: 13px;
    bottom: 9px;
    position: relative;
  }
}
@media (max-width: 768px) {
  .timeline-item.active {
    .year {
      bottom: 15px;
    }
    .marker {
      width: 13px;
      height: 13px;
      bottom: 9px;
      position: relative;
      left: 3px;
    }
  }
}
.year {
  font-size: 15px;
  font-weight: 300;
  color: #2d3748;
  margin-bottom: 15px;
  transition: all 0.3s ease;
  position: relative;
  left: 7px;
}

.marker {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #444a61;
  box-shadow: 0 0 0 3px #444a61;
  margin-bottom: 6px;
  transition: all 0.3s ease;
  cursor: pointer;
}

@media (max-width: 768px) {
  .timeline {
    flex-direction: column;
    align-items: flex-start;
  }

  .timeline::before {
    top: 12px;
    bottom: 0;
    right: 22px;
    left: auto;
    width: 3px;
    height: 76%;
    transform: none;
  }

  .timeline-item {
    flex-direction: row;
    margin-bottom: 30px;
    width: 100%;
  }

  .year {
    margin-bottom: 0;
    margin-right: 20px;
    min-width: 80px;
    font-size: 15px;
    font-weight: normal;
    position: relative;
    bottom: 5px;
  }

  .marker {
    margin-bottom: 0;
    margin-right: 20px;
    order: -1;
  }
}
