/* start banner */
.books-banner {
  margin-top: 6rem;
  background-color: rgba(109, 117, 143, 1);
}
.books-banner h1 {
  font-weight: 800;
  font-size: 2.5rem;
}
@media (max-width: 768px) {
  .books-banner h1 {
    font-size: 1.9rem;
  }
}
@media (max-width: 600px) {
  .books-banner h1 {
    font-size: 1.1rem;
  }
}

/* start book details */
.book-details .img-container {
  height: 600px;
  overflow: hidden;
  border-radius: 8px;
}
.book-details .img-container img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.book-details .content h2 {
  color: rgba(109, 117, 143, 1);
  font-size: 3rem;
  font-weight: 700;
}
.book-details .content p {
  color: rgba(109, 117, 143, 1);
  font-size: 1.2rem;
  font-weight: 500;
}
.book-details .content .btn {
  background-color: rgba(109, 117, 143, 1);
  font-size: 17px;
  color: #fff;
  font-weight: 600;
}

/* start best seller  */
.best-seller-top h2 {
  font-size: 3rem;
  color: rgba(109, 117, 143, 1);
  font-weight: bold;
}
.best-seller-top p {
  color: rgba(109, 117, 143, 1);
  font-weight: 500;
  font-size: 17px;
}
.best-seller .book {
  height: 600px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}
.best-seller .book img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.best-seller .layer {
  background: linear-gradient(
    to bottom,
    rgba(16, 42, 67, 0.1),
    rgba(16, 42, 67, 1)
  );
  color: #fff;
}
.best-seller .content {
  text-align: center;
  position: absolute;
  bottom: 0;
  padding: 10px 2rem;
}
.best-seller .content a {
  color: rgba(68, 74, 97, 1);
  font-size: 18px;
  font-weight: 700;
}
.best-seller .owl-prev i,
.best-seller .owl-next i {
  color: #fff;
  font-size: 16px;
  background-color: rgba(109, 117, 143, 1);
  border: 1px solid rgba(109, 117, 143, 1);
  border-radius: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s all ease;
}
.best-seller .owl-prev i:hover,
.best-seller .owl-next i:hover {
  background-color: #fff;

  color: rgba(109, 117, 143, 1);
}

.best-seller .owl-prev i {
  right: -7%;
  top: 40%;
}
.best-seller .owl-next i {
  position: absolute;
  left: -7%;
  top: 40%;
}
@media (max-width: 1300px) {
  .best-seller .owl-prev i {
    right: 0%;
  }
  .best-seller .owl-next i {
    left: 0%;
  }
}

@media (max-width: 500px) {
  .best-seller .owl-prev i,
  .best-seller .owl-next i {
    position: static;
  }
}
