/* start banner */
.programmes-banner {
  margin-top: 6rem;
  background-color: rgba(109, 117, 143, 1);
}
.programmes-banner h1 {
  font-weight: 800;
  font-size: 2.5rem;
}
@media (max-width: 768px) {
  .programmes-banner h1 {
    font-size: 1.9rem;
  }
}
@media (max-width: 600px) {
  .programmes-banner h1 {
    font-size: 1.1rem;
  }
}
/* start programmes */
.programmes-top .title {
  font-size: 3rem;
  color: rgba(109, 117, 143, 1);
}
.programmes-top .desc {
  font-size: 16px;
  color: rgba(109, 117, 143, 1);
  font-weight: 500;
}
@media (max-width: 991px) {
  .programmes-top .title {
    font-size: 2rem;
  }
}
.programmes-top .form-container {
  border-radius: 10px;
  border: 1px solid rgba(245, 240, 230, 1);
  width: 350px;
}
@media (max-width: 991px) {
  .programmes-top .form-container {
    width: 100%;
  }
}
.programmes-top .form-container input::placeholder {
  font-size: 16px;
  color: rgba(109, 117, 143, 1);
  font-weight: 500;
}
.programmes-top .form-container .btn {
  background-color: rgba(109, 117, 143, 1);
}
.programmes-top .form-container .btn:hover {
  background-color: rgba(109, 117, 143, 0.8);
  border-color: rgba(109, 117, 143, 0.8);
}
.programmes .content h2 {
  font-size: 30px;
  color: rgba(109, 117, 143, 1);
  font-weight: 700;
}
.programmes .content ul li {
  color: rgba(95, 101, 118, 1);
  font-size: 20px;
  font-weight: 500;
}
/* start pagination */
.programmes .pagination p {
  color: rgba(109, 117, 143, 1);
  font-weight: 500;
  font-size: 18px;
}
.programmes .pagination .page-link {
  padding: 0.375rem 0.75rem;
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: rgba(68, 74, 97, 1);
  border: none;
  font-weight: 500;
  border-radius: 5px;
}
.programmes .pagination .page-link i {
  font-size: 13px;
}
.programmes .pagination .page-item.active .page-link {
  background-color: rgba(68, 74, 97, 1);

  color: #fff;
}
.programmes .pagination .page-link:focus {
  box-shadow: none;
}
